.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;

  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.PlayerForm {
  display: flex;
  justify-content: flex-end;

  font-size: 10px;
  color: #608060;
}

.rules {
  text-align: left;
  font-size: 10px;
}
